# Get a free client token at https://www.mapillary.com/dashboard/developers
# (create an app, copy the "Client Token", format: MLY|1234567890|abcdef...)
MAPILLARY_TOKEN=MLY|your_app_id|your_token_here

# Free AQI token: https://aqicn.org/data-platform/token/
WAQI_TOKEN=your_waqi_token_here
